Debug
.vs
*.d
*.slo
*.lo
*.o
!devkitARM/arm-none-eabi/lib/*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
*.out
*.app
*.ilk
*.suo
*.pdb
*.sdf
*.VC.*
*.apb
*.txt
*.img
*.elf
*.ap3
*.map
*.vhd
*.api
!_disk1_/*.*
*.img.bin
*.pal.bin
*.srm
*/desktop.ini
*.log
