Debug
.vs
*.d
*.slo
*.lo
*.o
!devkitARM/arm-none-eabi/lib/*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
*.out
*.app
*.ilk
*.suo
*.pdb
*.sdf
*.VC.*
*.vcxproj.*
*.apb
*.txt
*.img
*.elf
*.ap3
*.map
*.vhd
